
/* WHOLE PAGE */
/* Удаление отступов, подключение шрифта, настройка шрифта и фона */
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2; /* + эффекты в PS white, gray back */
}
/* Тень всей страницы */
/* Как её сделать? */
.shadow {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 40px;
  margin-right: 40px;
}
/********************************** Общие параметры ****************************************/
/* Удаляем подчёркивание у ВСЕХ ссылок */
a {
  text-decoration: none;
  /* cursor: pointer; */
}
/* Фиксируем ширину 1200 и центруем блоки по центру */
.container {
  width: 1200px;
  margin: 0 auto;
}


/******** Правила для скрытых элементов *********/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/************************ BUTTONS **************************/
.button {
  text-align: center; /* горизонтальное выравнивание текста по центру */
  vertical-align: middle; /* вертикальное выравнивание текста по центру */
  text-transform: uppercase; /* заглавные буквы */
  border: none; /* удаление стандартной рамки */
  color: #ffffff; /* белый цвет текста */
  cursor: pointer;
}

/********************************/
/***                          ***/
/***  primary BUTTONS - blue  ***/
/***                          ***/
/********************************/
.button-primary {
  background-color: #81b3d2;
}
/* Наведение и фокус */
.button-primary:hover,
.button-primary:focus {
  background-color: #669ec0;
}
/* Нажатие (активная ссылка) */
.button-primary:active {
  color: #94b9d2;
  background-color: #5496bd;
}


/************************************/
/***                              ***/
/***  secondary BUTTONS - brown   ***/
/***                              ***/
/************************************/
.button-secondary {
  background-color: #766357;
}
/* Наведение и фокус */
.button-secondary:hover,
.button-secondary:focus {
  background-color: #604e43;
}
/* Нажатие (активная ссылка) */
.button-secondary:active {
  color: #928a85;
  background-color: #503e33;
}

/* Кнопки "Поиск гостиницы" и "Найти" */
.search .button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.button-search-hotels {
  width: 568px;
  padding-top: 35px;
  padding-bottom: 35px;
}
.button-search {
  width: 460px;
  padding-top: 17px;
  padding-bottom: 17px;
}

/* Кнопки "Подробнее" и "Забронировать" */
.hotels-item-buttons .button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
}
.button-more-info {
  width: 76px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.button-to-book {
  width: 76px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
}

/* Кнопка 'ПОКАЗАТЬ' */
/* В покое */
.button-show {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px / 3px;
}
/* При наведении */
.button-show:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px / 2px;
}
/* Стиль кнопки при нажатии - НЕ УКАЗАН */

/******************************* NAVIGATION **********************************/
/* Настраиваем шрифт и фон */
.main-navigation-header {
  line-height: 26px;
  font-weight: bold;

  background-color: #ffffff;
}
/* Удаляем маркеры в списке */
.site-navigation-header {
  list-style: none;
}
/* Меняем цвет ссылок */
.site-navigation-header a {
  color: #000000;
}
/* Цвет ссылок при наведении и в фокусе */
.site-navigation-header a:hover,
.site-navigation-header a:focus {
  color: #81b3d2;
}
/* Нажатие (активная ссылка) */
.site-navigation-header a:active {
  color: rgba(0, 0, 0, 0.3);
}
/* Текущая ссылка */
.nav-link-hotels-current {
  color: #766357;
}
/* Стилизация ЛОГОТИПА */

/********************** Сетка в NAVIGATION ************************/
.main-logo-header {
  width: 138px;
  height: 70px;
}
/* Список меню */
/* Высота меню 57 */
/* У списка обнулили отступы */
.site-navigation-header {
  display: flex;
  justify-content: space-between;
  width: 1055px;
  height: 57px;
  margin: 0;
  padding: 0;
}
.main-navigation-header {
  display: flex;
  flex-direction: column; /* располагаем элементы вертикально */
  align-items: center; /* выравнивание элементов по центру внутри флекс-контейнера */
  justify-content: space-between;
}

/************************* TEXT *****************************/
/* Центруем текст, картинки в блоках: Welcome, преимущества, "Поиск гостиницы". Всё, кроме Footer
 */
/* форму поиска (pop-up) будем стилизовать отдельно
*/
.features-logo,
.features,
.search {
  text-align: center;
}

/********************** COLOR OF TEXT *********************/
/* Белый цвет текста для некоторых элементов (текст, фильтр, кнопки) */
.text-secondary {
  color: #ffffff;
}

/********************************* Н1-H3 - HEADLINES ***************************/
/* Размер и интерлиньяж для всех `h2` и `h3` во `features` №2-5,  */
.features h2,
.features h3 {
  font-size: 21px;
}
/* Интерлиньяж для одного `h2` во `features` №1 */
.text-primary-sedona h2 {
  line-height: 26px;
}

/********************************** BACKGROUNDS ******************************/
/* FEATURES */
/* Белый фон под чёрный текст */
.container .features:nth-child(1),
.container .features:nth-child(3),
.search-title-button,
.search-form {
  color: #000000;
  background-color: #ffffff;
}
/* Голубой фон под белый текст */
.container .features:nth-child(2),
.container .features:nth-child(4) {
  color: #ffffff;
  background-color: #81b3d2;
}
/* Серый фон под преимущества №3,4,5 */
.container .features:nth-child(5) {
  color: #000000;
  background-color: #eeeeee;
}
/*************************************** FEATURES ***********************************/
/******************* IMAGES ********************/
/* Фоновая картинка к Welcome */
/* width="1200" height="563" */
.features-logo {
  width: 100%;
  height: 563px;
  background-image: url("../img/photo-mask.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
/*** Decor - house ***/
/* width="313" height="300" */
/* width="75" height="72" */
.feature-item-city:nth-child(2) {
  background-image: url("../img/icon-1.svg");
  background-size: 75px 72px;
  background-position: top;
  background-repeat: no-repeat;
}
/*** Decor - food ***/
/* width="308" height="292" */
/* width="74" height="70" */
.feature-item-city:nth-child(3) {
  background-image: url("../img/icon-3.svg");
  background-size: 74px 70px;
  background-position: top;
  background-repeat: no-repeat;
}
/*** Decor - souvenirs ***/
/* width="267" height="317" */
/* width="64" height="76" */
.feature-item-city:nth-child(4) {
  background-image: url("../img/icon-2.svg");
  background-size: 64px 76px;
  background-position: top;
  background-repeat: no-repeat;
}

/********************** Сетка во FEATURES  ************************/
/* `section` №2 - Текст, указывающий на преимущества */
/*   height: 210px; */
.future-item-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 70px;
}
.title-item-1 {
  width: 50%;
  display: flex;
  align-self: center;
}
.text-item-1 {
  display: flex;
  align-self: center;
  margin-bottom: 50px;
  text-align: center;
  margin-bottom: 55px;
}
/* `section` №3 - Преимущество №1 - Настоящий городок  */
/*   height: 260px; */
.future-item-2 {
  width: 100%;
  display: flex;
}
.title-item-2 {
  width: 50%;
  align-self: center;
  margin: 0px;
  padding: 3px;
  margin-bottom: 10px;
}
.text-item-2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 50px;
  padding-right: 50px;
}
.text-item-2 p {
  margin-top: 10px;
}
/* `section` №4 - Жильё, Еда, Сувениры */
.future-item-3 {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-bottom: 60px;
}
.feature-item-city {
  width: 300px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.feature-item-city p {
  margin-top: 4px;
  margin-bottom: 23px;
}

/* `section` №5 - Преимущество №2 - Мост дьявола */
.future-item-4 {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.future-item-4 {
  width: 100%;
  display: flex;
}
.title-item-4 {
  width: 60%;
  align-self: center;
  margin: 0px;
  padding: 3px;
  margin-bottom: 10px;
}
.text-item-4 {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 40px;
  padding-right: 40px;
}
.text-item-4 p {
  margin-top: 10px;
}

/* `section` №6 - Преимущества №3, №4, №5 */
.future-item-5 {
  display: flex;
  justify-content: space-around;
  padding-top: 28px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}
.title-item-5 {
  width: 50%;
  align-self: center;
}
.text-item-5 {
  width: 300px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
}
.text-item-5 p {
  margin-top: 4px;
  margin-bottom: 18px;
}


/************************************** SEARCH *************************************/
/* Стилизация формы поиска гостиницы */

.search-title {
  margin-top: 0px;
  padding-top: 62px;
}
.search-form {
  width: 568px;
  height: 395px;
  margin: 0 auto;
  vertical-align: middle;
}

/* Размер и интерлиньяж для `h2` в `search` */
.search h2 {
  font-size: 30px;
  line-height: 36px;
}
/* Интерлиньяж для `p` в `search-subtitle` */
.search-subtitle {
  line-height: 24px;
}
/* Размер и жирное начертание для подписей и 'placeholder' формы поиска */

.search-item {
  font: inherit;
  line-height: 26px;
  font-weight: bold;
}
.search-item input[type="text"],
.search-item input[type="number"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
}
/* Чёрный шрифт для placeholder */
.input-style::placeholder {
  color: #000000;
}
/* В покое */
.search-item input {
  font: inherit;

  color: #000000;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline-color: #ffffff;
}

/* При наведении */
.search-item input:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
/* В фокусе*/
.search-item input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5; /* В Chrome рамка почему-то другого цвета. В Mozilla всё правильно */
}

/* Карта Седоны */
/* width="1200" height="593" */


/************************* FOOTER ****************************/
/* Фон футера на .index.html, есть прозрачность */
.main-footer {
  background-color: rgba(255, 255, 255, 0.5); /* В PS не указан opacity, поставила 0.5 */
}
/* Фон футера на .inner.html, нет прозрачности */
.main-footer-inner {
  background-color: #fefefe;
}
/* Ссылка #VISITSEDONA */
.main-link-footer {
  text-align: left;
}
.link-footer {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
/* Стилизация соц-иконок */
/* Добавить иконки */
.footer-social {
  text-align: center;
}
.social-button {
  color: #000000;
}
.footer-social ul {
  list-style: none;
}
/* В покое */
/* Цвет #81b3d2 */
.social-button a {
  color: #000000;
}
/* ??? */
/* Наведение и фокус */
.social-button a:hover,
.social-button a:focus {
  color: #81b3d2;
}
/* Нажатие (активная ссылка) */
.social-button a:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Стиль WEBSITE BY */
.footer-copyright {
  color: #000000;
  line-height: 26px;
}
/* Стиль ссылки-картинки HTML Academy */
.footer-copyright {
  text-align: right;
}
/* В покое */
/* ??? */
.footer-copyright .button {
  background-color: #231f20;
}
/* ??? */
/* Наведение и фокус */
.footer-copyright .button:hover,
.footer-copyright .button:focus {
  background-color: #81b3d2;
}
/* ??? */
/* Нажатие */
.footer-copyright .button:active {
  background-color: #bdbbbc;
}


/************************* FILTER ****************************/
/* Стилизация формы 'ФИЛЬТР' `section` №1 */
.filtres fieldset {
  border: none;
}
/* Размер и жирное начертание для заголовков (`legend`) фильтра */
.filter legend {
  font-size: 16px;
  font-weight: bold;
}
.filtres ul {
  list-style: none;
}
/* Фоновая картинка к ФИЛЬТРУ */
/* Реализация - `background-image` для псевдоэлемента */
/* width="2706" height="1804" */
.filtres {
  background-image: url("../img/background-inner.jpg");
  background-size: 1200px 780px;  /* Нужно обрезать картинку */
  background-repeat: no-repeat;
}
/* Вставить иконки */
/* В покое */
.filter-input:hover + label,
.filter-input:focus + label {
  color: #ffffff;
}
/* Доработать. Нужно чтобы подписи в Типе жилья тоже окрашивались в коричневый цвет */
.filter-input:disabled + label {
  color: #6a6a6a;
}

/* Checkbox */


/* Ползунки */


/***************************** FOUND **************************/
/* Стилизация 'section' №2 - вывод результатов и сортировка  */
/* Фон */
.results {
  background-color: #fefefe;
}
/* Размер, интерлиньяж и жирное начертание для 'НАЙДЕНО' */
.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

/*************************** SORTING *************************/
/* Размер и интерлиньяж для 'СОРТИРОВКИ' */
.hotels-sort {
  /* font: inherit; */
  font-size: 12px;
  line-height: 18px;
}
/* Меняем цвет ссылок */
.hotels-sort a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted; /* точки в макете квадратные, здесь круглые. Есть ещё вариант dashed. Но там штришки длиннее  */
  text-decoration-color: #81b3d2;
}
/* Цвет ссылок при наведении и в фокусе */
.hotels-sort a:hover,
.hotels-sort a:focus {
  color: #81b3d2;
}
/* Цвет активных ссылок (при нажатии) */
.hotels-sort a:active {
  color: #000000;
  text-decoration: none;
}
/* Текущая ссылка */
.sort-price-link-current {
  color: #81b3d2;
}

/* Стилизация иконок-стрелок 'СОРТИРОВКИ' вверх-вниз */
/* .hotels-sort-buttons .button-up a {

} */


/**************** Разделы с описанием гостиниц ***************/
/* Фон */
.hotels article {
  background-color: #fefefe;
}
/* Между блоками 4 линии width="1200" height="1" color: #e5e5e5 */
/* Их так нужно стидизовать? */
.results::after {
  content: "";
  display: block;
  background-color: #e5e5e5;
  padding: 1px;
}
.hotels article::after {
  content: "";
  display: block;
  background-color: #e5e5e5;
  padding: 1px;
}
/* Текст */

.hotels-item-price span {
  color: #333333;
}

/* Заголовки `article` - названия гостиницы */
/* Меняем цвет ссылок */
.hotels-item-title a {
  color: #000000;
}
/* Цвет ссылок при наведении и в фокусе */
.hotels-item-title a:hover,
.hotels-item-title a:focus {
  color: #81b3d2;
}
/* Цвет активных ссылок (при нажатии) */
.hotels-item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}
/************************* RAITING ************************/
/* Стилизация иконок-звёздочек 'РЕЙТИНГ' */
/* width="75" height="71" color: #.. */
/* ??? */
.hotels-item-raiting {
  background-image: url("../img/star.svg");
  background-size: 70% 70%;
  background-position: center; /* ??? */
  background-repeat: no-repeat;
}
/* .hotels-item-raiting span::before {
  content: "";
  display: block;
  background-image: url("../img/star.svg");
  background-size: auto;
  background-repeat: no-repeat;
} */
.hotels-item-raiting span {
  width: 110px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #666666;
  background-color: #f2f2f2;
}



